.elementor-32 .elementor-element.elementor-element-f324690.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-32 .elementor-element.elementor-element-5351d9f{color:#000000;font-size:15px;}